@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif+JP:wght@200..900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css');
@import 'swiper/swiper-bundle.css';

body, figure, 
h1, h2, h3, h4, h5, h6,
ol, p, ul{
    margin: 0;
    padding: 0;
}

:root {
    --vh: 100vh;
}

/*  ===== 整站基本設定 ===== */
body{
    // chrome文字平滑化
    -webkit-font-smoothing: antialiased;
    // 解決觸控螢幕擊放大問題
    touch-action: manipulation;
    // 解決firefox 字體粗度問題
    -moz-osx-font-smoothing: grayscale;
    word-break: break-word;
    --admin-bar-height: 0px;
    scroll-behavior: auto;

    // 基礎字體 font-size , font-weight , letter-spacing: , line-height
    @include mix.d-fontF;
    @include mix.fz(16);
    font-weight: 400;
    @include mix.ls(1.28,16);
    line-height: 25.6px;
    color: var(--color-black);
    

    // default color
    --color-black: #000000;
    --color-white: #FFFFFF;
    // customize color
    --color-main: #31FFC1;
    --color-sec: #737373;
    --color-linear: linear-gradient(116deg, rgba(50, 238, 255, 0.50) 16.25%, rgba(49, 255, 193, 0.50) 83.75%);

    &.admin-bar{
        --admin-bar-height: 32px;

        @include bp.media-down(md){
            --admin-bar-height: 46px;
        }
    }

    &.locked{
        overflow: hidden;
    }

    .e-con{
        padding: 0px;
    }

    // 全站列點樣式消除
    ul,i,ol {
        list-style: none;
        list-style-position: inside;
    }
    
    ul,li,ol{
        &.list-style-none{
            list-style-type: none;
        }
    }

    a {
        text-decoration: none;
    }

    img {
        display: block;
        max-width: 100%;
    }
}

// elementor圖片設定
.elementor{
    .img-cover{
        img{
            height: 100%;
        }
    }

    .iframe-cover{
        iframe{
            height: 100%;
        }
    }
}

/*  ===== 媒體設定 ===== */
// 如果 <img> 需要等比縮放外面固定加上此 class , 寬高比例依照不同需求用上層 class 區分另外寫
.img-cover{
    position: relative;
    width: 100%;
    overflow: hidden;
    transition: all .5s ease;

    img{
        @include mix.poa-center;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

// video & iframe 用 , 邏輯同上
.iframe-cover, .video-cover{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 0;

    video, iframe{
        @include mix.poa-center;
        object-fit: cover;
        width: 100%; 
        height: 100%;
    }
}

/*  ===== 整站container設定 ===== */
.container-share {
    position: relative;
    width: 100%;
    max-width: 1540px;
    margin: 0 auto;
    padding: 0px 50px;

    @include bp.media-down(xl){
        padding: 0px 30px;
    }

    @include bp.media-down(sm){
        padding: 0px 20px;
    }
}

/*  ===== 整站文字設定 ===== */
.title-main-share{
    @include mix.d-fontF;
    @include mix.fz(36);
    @include mix.ls(0.72,36);
    font-weight: 700;
    line-height: normal;
    color: var(--color-black);

    @include bp.media-down(lg){
        @include mix.fz(30);
    }

    &.center {
        text-align: center;
    }
}

.title-medium-share{
    @include mix.d-fontF;
    @include mix.fz(28);
    font-weight: 700;
    @include mix.ls( 0.56,28);
    line-height: normal;
    color: var(--color-black);

    @include bp.media-down(lg){
        @include mix.fz(22);
    }

    &.center{
        text-align: center
    }

    &.blue {
        color: var(--color-main) ;
    }

    &.black {
        color: var(--color-black) ;
    }
}

.title-small-share{
    @include mix.d-fontF;
    @include mix.fz(18);
    @include mix.ls(0.44,18);
    font-weight: 700;
    line-height: normal;
    color: var(--color-black);

    &.center{
        text-align: center
    }
}

.title-en {
    @include mix.en-fontF;
    color: rgba(49, 255, 193, 0.25);
    font-size: 100px;
    font-weight: 700;
    line-height: normal;

    @include bp.media-down(sm){
        @include mix.fz(68);
    }

    @include bp.media-down(xs){
        @include mix.fz(58);
    }
    
}

.title-share {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-bottom: 1px dashed var(--color-black) ;
    // padding: 0 10px 30px 10px;
    max-width: 600px;
    width: 100%;
    margin-bottom: 60px;
    padding-bottom: 30px;

    @include bp.media-down(xl) {
        margin-bottom: 30px;
    }

    @include bp.media-down(sm) {
        padding-bottom: 15px;
    }

    .title-main-share {
        @include mix.poa-center;
    }
}

.block-title {
    padding-bottom: 30px;
    border-bottom: 1px dashed var(--color-black);
    width: 100%;
    max-width: 450px;
    margin: auto;

    @include bp.media-down(sm) {
        padding-bottom: 15px;
    }

    .en-title {
        @include mix.en-fontF;
        color: var(--color--black);
        font-size: 56px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;

        @include bp.media-down(sm) {
            font-size: 40px;
        }
    }
}

.block-desc {
    padding-top: 30px;
    max-width: 780px;
    width: 100%;
    color: var(--color-sec);
    @include mix.ls(0.4, 18);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 33px;

    @include bp.media-down(sm) {
        padding-top: 15px;
    }
}

/*  ===== 共用padding設定 ===== */
.padding-share {
    padding: 100px 0 ;

    @include bp.media-down(lg) {
        padding: 80px 0 ;
    }

    @include bp.media-down(sm) {
        padding: 50px 0 ;
    }
}

.padding-small-share {
    padding: 50px 0 ;

    @include bp.media-down (lg) {
        padding: 30px 0 ;
    }
}

/*  ===== 整站btn設定 ===== */
.btn-main {
    @include mix.d-flex (center,center);
    padding: 10px 40px;
    gap: 10px;
    font-weight: bold;
    border-radius: 100px;
    background: #00B1C8;
    box-shadow: 0px 5px 0px 0px #008DA0;
    color: #fff;
    transition: all .3s ease-in-out;

    &:hover {
        transform: translateY(3px);
        box-shadow: 0px 2px 0px 0px #008DA0;
    }

    &:active {
        transform: translateY(5px);
        box-shadow: 0px 0px 0px 0px #008DA0;
    }
}

.btn-sec {
    @include mix.d-flex (center,center);
    max-width: 150px;
    width: 100%;
    padding: 10px 40px;
    gap: 10px;
    font-weight: bold;
    border-radius: 100px;
    background: var(--color-sec);
    box-shadow: 0px 5px 0px 0px #FFD49A;
    color: #fff;
    transition: all .3s ease-in-out;

    &:hover {
        transform: translateY(3px);
        box-shadow: 0px 2px 0px 0px #ffd39aca;
    }

    &:active {
        transform: translateY(5px);
        box-shadow: 0px 0px 0px 0px #ffd39aca;
    }
}

/*  ===== 整站動態設定 ===== */
.animation__el{
    transition: all 0.6s ease-in-out;

    &.delay {
        opacity: 0;
    }

    &.slow{
        transition: all 1.2s ease-in-out;
    }

    &.fadeUp{
        transform: translateY(50px);
        opacity: 0;

        &.in{
            transform: translateY(0);
            opacity: 1;
        }

        &.delay__750{
            transition-delay: .75s;
        }

        &.delay__1000{
            transition-delay: 1s;
        }

        &.delay__1500{
            transition-delay: 1.2s;
        }
    }

    &.fadeUp2 {
        transform: translate(50px,150px);
        opacity: 0;

        &.in{
            transform: translate(0);
            opacity: 1;
        }
    }

    &.fadeIn{
        opacity: 0;

        &.in{
            opacity: 1;
        }
    }

    &.fadeRight{
        transform: translateX(60px);
        opacity: 0;

        &.in{
            transform: translateX(0);
            opacity: 1;
        }

        &.delay__750{
            transition-delay: .75s;
        }
    }

    &.fadeLeft{
        transform: translateX(-60px);
        opacity: 0;

        &.in{
            transform: translateX(0);
            opacity: 1;
        }

        &.delay__750{
            transition-delay: .75s;
        }
    }

    &.fadeLeftLarge{
        transform: translateX(-100%);
        opacity: 0;

        &.in{
            transform: translateX(0);
            opacity: 1;
        }
    }

    &.zoomIn{
        transform: translate(0%,250%) scale(3);
        opacity: 0;
        transition-delay: .5s;

        &.in{
            transform: translate(0%,0%) scale(1);
            opacity: 1;
        }

        &.delay{
            transition-delay: 1.2s;
        }
    }

    &.zoomOut {
        transform: scale3d(0.3, 0.3, 0.3) translateZ(-500px);
        opacity: 0;
        transition: transform 0.5s ease-out, opacity 0.5s ease-out;
        transition-delay: 0.5s;
    
        &.in {
            transform: scale3d(1, 1, 1) translateZ(0);
            opacity: 1;
        }
    
        &.delay {
            transition-delay: 2s;
        }
    }
    
    
    .fadeRightMedium{
        transition: all 1s ease;
        transform: translateX(100%);
        opacity: 0;

        &.delay__750{
            transition-delay: .75s;
        }

        &.delay__1500{
            transition-delay: 1.5s;
        }

        &.delay__2250{
            transition-delay: 2.25s;
        }
    
        &.delay__3000{
            transition-delay: 3s;
        }
    
        &.delay__3750{
            transition-delay: 3.75s;
        }
    
        &.delay__4500{
            transition-delay: 4.5s;
        }
    
        &.delay__5250{
            transition-delay: 5.25s;
        }
    }

    &.in{
        .fadeRightMedium{
            transform: translateX(0);
            opacity: 1;
        }
    }
}

/*  ===== 整站動態設定 ===== */
// 輪播箭頭
.button-wrap {
    position: relative;
    @include mix.d-flex(space-between, center);
    width: 140px;
    height: 50px;
    margin: 0px auto 5px auto;

    @include bp.media-down(jumbo) {
        width: 120px;
    }

    .swiper-button-prev,
    .swiper-button-next {
        position: absolute;
        border: 1px solid var(--color-black);
        border-radius: 50px;
        width: 50px;
        height: 50px;

        &:active,
        &:hover {
            opacity: 0.3;
            transition: all .2s ease-in-out;
        }

        @include bp.media-down(jumbo) {
            width: 40px;
            height: 40px;
        }
    }

    .swiper-button-next {
        bottom: 0;
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
        color: var(--color-black);
        font-size: 20px;
    }

}
// 輪播點點
.swiper-pagination {
    @include mix.d-flex(center, center);
    gap: 200px;

    @include bp.media-down(lg) {
        gap: 180px;
    }

    @include bp.media-down(sm) {
        gap: 50px;
    }

    .swiper-pagination-bullet {
        position: relative;
        width: 15px;
        height: 15px;
        background: var(--color-main);
        border-radius: 50%;
        opacity: 1;
        transition: all 0.3s ease-in-out;

        &.swiper-pagination-bullet-active::after {
            content: "";
            position: absolute;
            top: -6px;
            left: -6px;
            width: 27px;
            height: 27px;
            border: 1px solid var(--color-main);
            border-radius: 50%;
            box-sizing: border-box;
            animation: pulseRing 2s infinite ease-in-out;
        }

        @keyframes pulseRing {
            0% {
                transform: scale(1);
                opacity: 1;
            }

            50% {
                transform: scale(1.2);
                opacity: 0.5;
            }

            100% {
                transform: scale(1);
                opacity: 1;
            }
        }
    }
}

//  全站浮動背景
.circle-blue-b {
    position: fixed;
    z-index: -1;
    top: 30rem;
    right: -3rem;
    width: 325px;
    height: 325px;
    border-radius: 325px;
    background: linear-gradient(143deg,
            rgba(50, 238, 255, 0.5) 8.32%,
            rgba(49, 255, 193, 0.5) 92.78%);
    filter: blur(50px);
    animation: floatUpB 4s ease-in-out infinite;

    @include bp.media-down(jumbo) {
        width: 260px;
        height: 260px;
        // right: 10rem;
    }

    @include bp.media-down(lg) {
        width: 200px;
        height: 200px;
    }

    @keyframes floatUpB {
        0% {
            top: 30rem;
        }

        50% {
            top: 24rem;
        }

        100% {
            top: 30rem;
        }
    }
}

.circle-yellow-b {
    position: fixed;
    z-index: -1;
    bottom: 5rem;
    left: 13rem;
    width: 240px;
    height: 240px;
    border-radius: 240px;
    transform: rotate(-136.812deg);
    background: linear-gradient(147deg,
            rgba(255, 154, 0, 0.5) 13.74%,
            rgba(255, 245, 49, 0.5) 90.25%);
    filter: blur(50px);
    animation: floatDownC 4s ease-in-out infinite;

    @include bp.media-down(jumbo) {
        width: 180px;
        height: 180px;
        left: 10rem;
    }

    @include bp.media-down(lg) {
        width: 120px;
        height: 120px;
        left: 0rem;
    }

    @keyframes floatDownC {
        0% {
            bottom: 8rem;
        }

        50% {
            bottom: 2rem;
        }

        100% {
            bottom: 8rem;
        }
    }
}




